.custom-project-text{

    width: 385px;
    height: 41px;
    padding: 3%;
    margin-left: 7%;
    margin-bottom: 3%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    color: #7F7F7F;
}

.custom-project-card{
    border: none;
    max-width: none;
    max-width: 540px;
}
.custom-project-card-text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-left: 6%;
    color: #716D6D;
    
}
.custom-project-card-title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    margin-left: 6%;
    color: #2CB2BB;
}

.custom-project-card-img{
    width: 400px;
    height: 262.79px;
}

.custom-project-card-body{
    margin-left: 15vw;
    width: 57vw;
    position: relative;
    
}

.custom-card-wrapper-1{
    padding-left: 10%;
}
.custom-card-wrapper-2{
    padding-left: 10%;
    
}

.custom-container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.custom-project-card-btn{
    position: absolute;
    width: 202px;
    height: 50px;
    top: 100%;
    right: 10%;
    border: none;
    background: #2CB2BB;
    border-radius: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #000000;
    transition: 200ms;
}

.custom-project-card-btn:hover{
    border: 2px #2CB2BB solid ;
    background-color: white;
    color: #2CB2BB;
}

.custom-nav-links{
    margin-left: 100px;
}